# Dependencies
node_modules/
.pnp
.pnp.js

# Build
dist/
.next/
out/
build/

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.production

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Turbo
.turbo

# Test
coverage/

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Docker
docker-data/

# Flutter
apps/mobile/.dart_tool/
apps/mobile/.packages
apps/mobile/.pub-cache/
apps/mobile/.pub/
apps/mobile/build/
apps/mobile/.flutter-plugins
apps/mobile/.flutter-plugins-dependencies

# Prisma
apps/api/prisma/*.db
